<launch>

<node pkg="boat_components" name="xbee_send" type="xbee_send" clear_params="true" output="screen">
<param name="port" value="/dev/ttyUSB0" />
<param name="baud_rate" value="9600" type="str" />
</node>

<node pkg="boat_components" name="xbee_receive" type="xbee_receive" clear_params="true" output="screen">
<param name="port" value="/dev/ttyUSB0" />
<param name="baud_rate" value="9600" type="str" />
<param name="loop_rate" value="2" type="str" />
</node>

<node pkg="boat_components" name="camera_left" type="camera" clear_params="true" output="screen">
<param name="video_source" value="0" />
</node>

</launch>